*~
*.cache
*.eld
*.elc
# autogenerates from org
configuration.el
elpa
*~
auto-save-list
smex-items
recentf
bookmarks
projectile.cache
projectile-bookmarks.eld
places

eshell 
\#*\# 
transient
persp-confs
