*~
*.cache
*.eld
*.elc
# autogenerates from org
configuration.el
#elpa
*~
auto-save-list
smex-items
recentf
bookmarks
projectile.cache
projectile-bookmarks.eld
places
url

eshell/history
eshell/lastdir
\#*\# 
transient
persp-confs
custom.el
session.*
anaconda-mode
out.file
.emacs.desktop
history
request
